.character-box {
    height: 120px;
    width: 120px;
    margin: 4px;
}

    .character-box label {
        height: 60px;
    }

.progress {
    position: relative;
}

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

.team-separator {
    height: 130px;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertial-align-bottom {
    display: flex;
    align-items: flex-end;
}

.equal {
    display: flex;
}

.character-box:hover {
    background-color: #F7F9F9;
}

.selected-character {
    outline: gold auto 5px;
    background-color: cornsilk;
}

.targeted-character {
    outline: red auto 5px;
}

.hp-bar {
    margin-bottom: 2px;
}

.speed-bar {
    height: 5px;
}

.combat-log-entry {
    color: red;
}

.board-space {
    height: 130px;
    width: 130px;
    min-height: 130px;
    min-width: 130px;
    margin: 0;
    padding: 0;
    border: 1px dotted lightgray;
}

.ability-panel {
    height: 650px;
}

.dead-character {
    color: lightgray
}

.btn-group-justified > .btn-group:nth-of-type(odd) {
    width: .25%;
}

.btn-ability-group {
    margin-bottom: 15px;
}
