.board-space {
    border-style: dotted;
}

.team-separator {
    height: 130px;
}

.hp-bar {
    height: 10px;
    margin-bottom: 2px;
}

.speed-bar {
    height: 5px;
}

.selected-character {
    background-color: #ffff99;
}

.targeted-space {
    border: blue solid 1px;
    background-color: azure;
}

.enemy-character {
    background-color: #ffe6e6;
}
