.board-space {
    border-style: dotted;
}

.team-separator {
    height: 130px;
}

.hp-bar {
    height: 10px;
    margin-bottom: 2px;
}

.speed-bar {
    height: 5px;
}

.selected-character {
    outline: gold auto 5px;
    background-color: cornsilk;
}

.targeted-character {
    outline: red auto 5px;
}
